<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @poll.name %>
</p>

<p>
	<b>Poll Link:</b>
	<%= "#{root_url}#{@poll.slug}"%>
</p>

<p>
	<b>Edit Poll Link:</b>
	<%= "#{root_url}polls/#{@poll.admin_slug}/edit"%>
</p>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
